<a href="#top"></a>
<div class="breadcrumb-bar no-stats">
    <div class="container">
        <div class="row" style="position: relative">
            <div class="col-xs-12 section">
                <div class="btn-group btn-breadcrumb">
                    <a href="#!{{searchPath}}" class="btn btn-primary">ACP Directory Home</a>
                    <a href="" class="btn btn-primary">My ACP</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-init="$root.pageTitle='Edit Details - ' + mainTitle">
<div class="row">
<div class="col-md-12 section">
<form name="form" novalidate role="form" class="web-form" ng-class="{'show-errors': showErrors}"
      ng-init="descWordCount = 100">
<h2>ACP Details: <span ng-bind="company.companyName"></span></h2>
<table class="table table-striped">
<tr>
    <td>
        <div class="section-label">Company Name</div>
        <div class="">{{company.companyName}}</div>
    </td>
</tr>
<tr>
    <td>
        <div class="section-label">Phone</div>
        <div>
            <input type="text" class="form-control" name="phone"
                   ng-model="company.phone"
                   ng-pattern="phonePattern"
                   placeholder="Company phone number">
        </div>
        <span class="validation-error" ng-show="form.phone.$error.required && showErrors">
            Phone is required.
        </span>
        <span class="validation-error" ng-show="form.phone.$error.pattern && showErrors">
            Phone number is invalid.
        </span>
    </td>
</tr>
<tr>
    <td>
        <div class="section-label">Mobile Number</div>
        <div>
            <input type="text" class="form-control" name="mobilePhone"
                   ng-model="company.mobilePhone"
                   ng-pattern="phonePattern"
                   placeholder="Mobile number">
        </div>
        <span class="validation-error" ng-show="form.mobilePhone.$error.required && showErrors">
            Phone is required.
        </span>
        <span class="validation-error" ng-show="form.mobilePhone.$error.pattern && showErrors">
            Phone number is invalid.
        </span>
    </td>
</tr>
<tr>
    <td>
        <div class="section-label">Sales Email Address</div>
        <div>
            <input type="email" class="form-control" name="salesEmail"
                   ng-model="user.salesEmail"
                   placeholder="Please enter company sales email">

        </div>
        <span class="validation-error" ng-show="form.salesEmail.$error.required && showErrors">
            Email is required.
        </span>
        <span class="validation-error" ng-show="form.salesEmail.$error.email && showErrors">
            Email is not valid.
        </span>
    </td>
</tr>
<tr>
    <td>
        <div class="section-label">Website</div>
        <div>
            <input type="url" class="form-control" name="website"
                   ng-model="user.website"
                   placeholder="Please enter company website address">
        </div>
        <span class="validation-error" ng-show="form.website.$error.required && showErrors">
            Website address is required.
        </span>
        <span class="validation-error" ng-show="form.website.$error.url && showErrors">
            Website address is not valid.
        </span>
    </td>
</tr>
<tr>
    <td>
        <div class="section-label">Address</div>
        <div>
            <input type="text" class="form-control" name="address"
                   ng-model="user.address"
                   placeholder="Please enter company address">
        </div>
        <span class="validation-error" ng-show="form.address.$error.required && showErrors">
            Company address is required.
        </span>
        <span class="validation-error" ng-show="form.address.$error.pattern && showErrors">
            Company address is not valid.
        </span>
    </td>
</tr>
<tr>
    <td>
        <div class="section-label">Company Description</div>
        <div>
            <textarea name="companyDescription" class="form-control" rows="3"
                      wordcount="descWordCount"
                      ng-model="company.companyDescription">

            </textarea>
        </div>
        <span class="validation-error"
              ng-show="form.companyDescription.$error.wordcount && showErrors">
            Company description should not exceed {{descWordCount}} words.
        </span>
    </td>
</tr>
<tr>
    <td>
        <div class="section-label">Products</div>
        <div>
            <textarea name="products" class="form-control" rows="3"
                      wordcount="descWordCount"
                      ng-model="company.products">

            </textarea>
        </div>
        <span class="validation-error" ng-show="form.products.$error.wordcount && showErrors">
            Products text should not exceed {{descWordCount}} words.
        </span>
    </td>
</tr>
<tr>
    <td>
        <div class="section-label">Testimonial</div>
        <div>
            <textarea name="testimonial" class="form-control" rows="3"
                      wordcount="descWordCount"
                      ng-model="company.testimonial">

            </textarea>
        </div>
        <span class="validation-error" ng-show="form.testimonial.$error.wordcount && showErrors">
            Testimonial text should not exceed {{descWordCount}} words.
        </span>
    </td>
</tr>
<tr>
    <td>
        <div class="region-selector">
            <div class="row" ng-class="{'council-visible': councilVisible}">
                <div class="col-xs-6">
                    <div class="section-label">Regions</div>
                    <ul class="list-group list-container">
                        <li class="list-group-item clickable"
                            ng-repeat="region in company.councilsServed"
                            ng-class="{active: region == selectedRegion}"
                            ng-click="selectRegion(region)">
                            <span>{{region.name}}</span>
                            <button type="button" class="btn btn-primary btn-xs pull-right"
                                    ng-click="toggleRegion(region); $event.stopPropagation();">
                                <i class="fa" ng-class="setRegionBtnIcon(region)"></i>
                                {{setRegionBtnLabel(region)}}
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <div class="council-header clearfix">
                        <div class="section-label pull-left">
                            {{selectedRegion.name}}'s Councils
                        </div>
                        <button type="button"
                                ng-click="councilVisible = false"
                                class="btn btn-primary btn-xs pull-right">
                            Done!
                        </button>
                    </div>
                    <ul class="list-group list-container">
                        <li class="list-group-item clickable"
                            ng-repeat="council in selectedRegion.councils"
                            ng-class="{active: council.isServed}"
                            ng-click="council.isServed = !council.isServed">
                                <span>
                                    <i class="fa"
                                       ng-class="council.isServed ? 'fa-check-circle': 'fa-circle-thin'">
                                    </i>
                                    {{council.name}}
                                </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="section-label">Certificates</div>
        <div class="row">
            <div class="col-sm-6 cert-container" ng-repeat="c in company.certificates">
                <div class="col-xs-12 panel panel-default" ng-form="certForm">
                    <table class="table">
                        <tr>
                            <td>Sector:</td>
                            <td>{{getSector(c.sector)}}</td>
                        </tr>
                        <tr ng-show="certForm.technologyType.$error.required && showErrors">
                            <td colspan="2" class="validation-error">
                                Technology Type should be selected.
                            </td>
                        </tr>
                        <tr>
                            <td>Technology Type:</td>
                            <td>
                                <select name="technologyType"
                                        ng-model="c.projectTechnologyType" required
                                        ng-options="t.key as t.name for t in techs"
                                        style="width: 100%;">
                                    <option class="muted" value="">Please select</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Calculation Method:</td>
                            <td>
                                {{getCalcMethod(c.calculationMethod)}}
                            </td>
                        </tr>
                        <tr>
                            <td>Certificates:</td>
                            <td>{{c.certificatesTotal}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </td>
</tr>

</table>
<div class="form-group">
    <button class="btn btn-primary" ng-click="update()">Update</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
</form>
</div>
</div>
</div>
