@import "../../../styles/variables";
@import "../../../../bower_components/bootstrap/less/variables";

.list-container {
    overflow-y: auto;
    height: 206px;
    background-color: @nsw-gray-light;
    border-radius: @border-radius-base;
}

.council-header > button {
    display: none;
}

.cert-container {
//    padding-bottom: 1000px;
//    margin-bottom: -1000px;
//    background-color: red;
}

@media screen and (max-width: 767px) {
    .region-selector {
        width: 100%;
        overflow: hidden;
    }

    .region-selector > .row {
        width: 200%;
        margin-right: 0;
        margin-left: 0;
    }

    .region-selector > .row.council-visible {
        margin-left: -100%;
    }

    .region-selector > .row > * {
        padding-right: 0;
        padding-left: 0;
    }

    .council-header {
        margin-bottom: 5px;
    }

    .council-header > .section-label{
        margin-top: 3px;
    }

    .council-header > button {
        display: inherit;
    }
}
