@import "variables";

.show-errors input.ng-invalid {
    border: solid 2px @nsw-form-error-background !important;
}

.show-errors input.ng-valid {
    border: solid 2px @nsw-form-ok-background !important;
}

.web-form .validation-error {
    margin-top: 5px;
    display: block;
    color: @nsw-logo-emblem;
}

.terms {
    width: 100%;
    height: 300px;
    background: @nsw-gray-light;
    overflow: auto;
}