.fa-lighting:before {
    content: "\f258";
}
.fa-heating-cooling:before {
    content: "\f259";
}
.fa-freezing:before {
    content: "\f25a";
}
.fa-water-heating:before {
    content: "\f25b";
}
.fa-office:before {
    content: "\f25c";
}
.fa-entertainment:before {
    content: "\f25d";
}
.fa-cooking:before {
    content: "\f25e";
}
.fa-cleaning:before {
    content: "\f25f";
}
.fa-transport:before {
    content: "\f260";
}
.fa-ventilation:before {
    content: "\f261";
}
.fa-air-compression:before {
    content: "\f262";
}
.fa-pumping:before {
    content: "\f263";
}
.fa-conveying:before {
    content: "\f264";
}
.fa-escalators:before {
    content: "\f265";
}
.fa-mixing:before {
    content: "\f266";
}
.fa-other-machine:before {
    content: "\f267";
}
.fa-process-drives:before {
    content: "\f268";
}
.fa-process-heat:before {
    content: "\f269";
}
.fa-communications:before {
    content: "\f26a";
}
.fa-electricity:before {
    content: "\f26b";
}
.fa-other:before {
    content: "\f26c";
}

.fa-residential:before {
    content: "\f26d";
}
.fa-small-business:before {
    content: "\f26e";
}
.fa-commercial:before {
    content: "\f26f";
}
.fa-industrial:before {
    content: "\f270";
}

