@import "variables";
@import "forms";
@import "icons";
@import "../components/detail/edit/edit";
@import "../scripts/directives/squareButton";
@import "../scripts/directives/searchStats/searchStats";

.page-header {
    position: relative;
}

body {
    margin-top: 91px;
    margin-bottom: 1.1em;
}

.navbar > .container {
    background: #FFF url(../images/header-back.gif) top right no-repeat;
}

.navbar-custom {
    margin-bottom: 0 !important;
}

.breadcrumb-bar {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 91px;
}

.breadcrumb-bar + .container {
    padding-top: 141px;
}

.breadcrumb-bar.no-stats + .container {
    padding-top: 53px;
}

.breadcrumb-bar > .container {
    background-color: white;
    padding-top: 10px;
}

.sticky {
    position: fixed !important;
    width: 100%;
    top: 0px;
    z-index: 100;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    background-color: @nsw-logo-title-medium; /*#2b5e8d;*/
    font-size: 12px;
    z-index: 100;
}

.footer .row > div:last-child {
    text-align: right;
}

.logo {
    display: inline-block;
    width: 75px;
    height: 62px;
    background: #FFF url(../images/government_logo.gif) top left no-repeat;
}

.logo-text {
    display: inline-block;
    width: 162px;
    height: 62px;
    background: #FFF url(../images/depttitle.gif) top left no-repeat;
}

.main-title {
    position: absolute;
    top: 21px;
    right: 60px;
    left: 0;
    line-height: 0.9;
    font-size: 25px;
    font-weight: bold;
    color: @nsw-logo-title;
}

.tool-bar {
    position: absolute;
    top: 0px;
    right: 0px;
}

.main-title span {
    display: table;
    margin: 0 auto;
}

.section {
    margin-bottom: 9px;
}

.section > .panel {
    margin-bottom: 0;
}

.section-label {
    color: @nsw-logo-title;
    font-weight: bold;
}

.section-body {
    margin-top: 5px;
}

.highlighted-category {
    background-color: @nsw-logo-title-light !important;
    color: white !important;
}

.tabular {
    display: table;
}

.tabular.spaced > div {
    padding-right: 15px;
}

.tabular > div {
    display: inline-block;
    vertical-align: middle;
}

.clickable {
    background-color: @nsw-gray-light;
    cursor: pointer;
}

.clickable:hover {
    background-color: @nsw-gray-light-hover;
}

/****************************************************************/

.action-bar {
    position: absolute;
    right: 16px;
}

.action-bar .btn-group > .btn {
    padding: 6px 18px;
}

.result-count {
    font-size: 34px !important;
}

/** Triangular look **/
.btn-breadcrumb .btn:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/** The Spacing **/
.btn-breadcrumb .btn {
    padding: 6px 12px 6px 18px;
}

.btn-breadcrumb .btn:last-child {
    padding: 6px 18px 6px 18px;
}

/**background color**/
.btn-breadcrumb .btn.btn-primary:after {
    border-left: 10px solid @nsw-logo-title;
}

/**border color**/
.btn-breadcrumb .btn.btn-primary:before {
    border-left: 10px solid #B0B6BB;
}

/**background color**/
.btn-breadcrumb .btn.btn-primary:hover:after {
    border-left: 10px solid #357ebd;
}

/**border color**/
.btn-breadcrumb .btn.btn-primary:hover:before {
    border-left: 10px solid #428bca;
}

/************************************************************/

.panel-collapse > .panel-heading {
    width: 100%;
}

.panel-collapse > .panel-heading > div:first-child {
    margin-right: 15px;
}

.result-item.well {
    margin-bottom: 3px;
}

.result-item.row {
    margin-left: 0;
    margin-right: 0;
}

/************Calculation methods*****************************/

.cm {
    background-color: #eeeeee;
}

.cm.selected {
    color: white;
    background-color: @nsw-logo-title;
}

.cm-level2 {
    padding-left: 40px;
}

/************************************************************/

.btn-all {
    background: #eeeeee;
}

.btn-all.active {
    color: white;
    background: @nsw-logo-title;
}

.btn-all.active i.fa-circle-o,
.btn-all i.fa-check-circle-o {
    display: none;
}

.btn-all.active i.fa-check-circle-o,
.btn-all i.fa-circle-o {
    display: inherit;
}

/************************************************************/

@media screen and (min-width: 768px) {
    /*@media only screen and (min-width: 40.063em) {*/
    body {
        background: #FFF url(../images/bg_body.png) top center no-repeat;
    }

    .phone-link {
        pointer-events: none;
        cursor: default;
        color: inherit;
    }

    .navbar-custom .navbar-collapse {
        position: relative;
    }

    .navbar-custom .navbar-collapse .navbar-right {
        position: absolute;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .navbar-custom .navbar-collapse li > a {
        font-size: 12px;
        background-color: @nsw-logo-title;
        border: solid 1px #B0B6BB;
        color: white !important;
        padding: 5px 10px !important;
        margin-left: 3px;
        border-radius: 4px;
    }

    .navbar-custom li > a:hover {
        background-color: #3071a9 !important;
        border-color: #285e8e;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /*@media only screen and (min-width: 40.063em) and (max-width: 64em) {*/
    .footer {
        font-size: 10px;
    }

    .footer .row > div {
        padding-right: 2px;
        padding-left: 2px;
    }
}

@media screen and (max-width: 767px) {
    /*@media only screen and (max-width: 40em) {*/
    body {
        margin-top: 77px;
        margin-bottom: 0;
    }

    .container-header {
        padding-right: 5px;
        padding-left: 5px;
    }

    .navbar-custom > .container {
        background: #FFF url(../images/header-back-sm.gif) top right no-repeat;
    }

    .navbar-custom .navbar-header {
        border-bottom: solid 2px @nsw-logo-title;
    }

    .navbar-custom .navbar-toggle {
        position: relative;
        float: right;
        background-color: @nsw-logo-title !important;
        border: solid 1px #B0B6BB;
        color: white !important;
        padding: 9px 10px;
        margin-top: 18px;
        margin-right: 15px;
        margin-bottom: 8px;
        border-radius: 4px;
    }

    .navbar-custom .navbar-collapse {
        background-color: #eeeeee !important;
        border-bottom: solid 1px lightgrey;
    }

    .navbar-custom .navbar-toggle:hover {
        background-color: #3071a9 !important;
        border-color: #285e8e;
    }

    .navbar-custom .navbar-toggle .icon-bar {
        background-color: white;
    }

    .breadcrumb-bar {
        top: 77px;
    }

    .breadcrumb-bar + .container {
        padding-top: 94px;
    }

    .breadcrumb-bar.no-stats + .container {
        padding-top: 45px;
    }

    .breadcrumb-bar > .container {
        padding-top: 6px;
    }

    .logo {
        width: 61px;
    }

    .tool-bar {
        top: 38px;
        right: 8px;
    }

    .action-bar {
        top: 46px;
        right: 22px;
        z-index: 100;
    }

    .main-title span {
        font-size: 17px;
        letter-spacing: 0px;
        margin-left: 75px;
    }

    .section {
        margin-bottom: 5px;
    }

    .section-body {
        margin-top: 3px;
    }

    .section-wb {
        border-bottom: solid 1px @nsw-gray-light;
        padding-bottom: 10px;
    }

    .btn-breadcrumb .btn:last-child {
        padding: 6px 4px 6px 14px;
    }

    .btn-breadcrumb .btn {
        padding: 6px 4px 6px 14px;
    }

    .tabular.spaced > div {
        margin-right: 8px;
    }

    .input-postcode {
        width: 80px !important;
    }

    .result-item {
        font-size: 13px;
    }

    .footer {
        position: inherit;
        font-size: 11px;
    }

    .footer .row > div {
        text-align: center !important;
    }
}


