
@import "variables";

.navbar {
    margin-bottom: 20px;
    border: none;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-brand {
    height: 91px;
    padding: 15px 15px;
}

.btn-primary {
    background-color: @nsw-logo-title;
    border-color: #B0B6BB;
}

@media (min-width: 768px){
    .container {
        max-width: 990px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .btn {
        padding: 4px 6px;
    }

    .navbar-brand {
        height: 75px;
        padding: 5px 5px;
    }
}

.page-header {
    padding-bottom: 9px;
    margin: 24px 0 17px;
    border-bottom: none;
}
