//************************************ COLORS

@nsw-logo-emblem:             #c62032;
@nsw-logo-title:              #202d60;

@nsw-logo-mono-colored:       #e41d40;
@nsw-logo-mono-gray:          #444444;

@nsw-logo-title-superlight:   #d0d7e4;
@nsw-logo-title-light:        #bac4d9;
@nsw-logo-title-medium:       #7288b2;

@nsw-gray-light:              #eeeeee;
@nsw-gray-light-hover:        #dddddd;
@nsw-gray-medium:             #999999;
@nsw-gray-dark:               #4e4e4e;

@nsw-complementary-light:     #7277e7;
@nsw-complementary-medium:    #00a1de;

@nsw-form-error-background:   #ffe4ea;
@nsw-form-ok-background:      #d7ffc2;

