<a href="#top"></a>
<div class="container" ng-init="$root.pageTitle='Login - ' + mainTitle">
    <div class="row">
        <div class="col-md-12">
            <form name="form" novalidate role="form" class="web-form" ng-class="{'show-errors': showErrors}">
                <h2>ACP Login</h2>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email"
                           ng-model="user.email" required
                           placeholder="Please enter your email">
                    <span class="validation-error" ng-show="form.email.$error.required && showErrors">
                        Email is required.
                    </span>
                    <span class="validation-error" ng-show="form.email.$error.email && showErrors">
                        Email is not valid.
                    </span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password"
                           ng-model="user.password" required
                           placeholder="Please enter your password">
                    <span class="validation-error" ng-show="form.password.$error.required && showErrors">
                        Password is required.
                    </span>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="rememberme" type="checkbox" ng-model="user.rememberme"> Remember me
                    </label>
                </div>
                <div class="form-group">
                    <a href="#!/password">Forgot password?</a>
                    <span class="validation-error" ng-show="errorMessage && showErrors" ng-bind="errorMessage"></span>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="login()">Login</button>
                    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                </div>
                <div class="form-group">
                    <a href="#!/register">Register as ACP</a>
                </div>
            </form>
        </div>
    </div>
</div>
