<a href="#top"></a>
<div class="container" ng-init="$root.pageTitle = title + ' - ' + mainTitle">
    <div class="row">
        <div class="col-md-12">
            <form name="form" novalidate role="form" class="web-form" ng-class="{'show-errors': showErrors}">
                <h2>Set your password</h2>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password"
                           ng-model="user.password" required
                           ng-pattern="passwordPattern"
                           placeholder="Please enter your new password">
                    <span class="validation-error" ng-show="form.password.$error.required && showErrors">
                        Password is required.
                    </span>
                    <span class="validation-error" ng-show="form.password.$error.pattern && showErrors">
                        A strong password should contain uppercase letter, number and 8 characters long.
                    </span>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmPassword"
                           ng-model="user.confirmPassword" required
                           placeholder="Please confirm your new password">
                    <span class="validation-error" ng-show="form.confirmPassword.$error.required && showErrors">
                        Password is required.
                    </span>
                    <span class="validation-error" ng-show="user.password != user.confirmPassword && showErrors">
                        Password do not match.
                    </span>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="changePassword()">Set Password</button>
                    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
