<a href="#top"></a>
<div class="container" ng-init="$root.pageTitle='Register as ACP - ' + mainTitle">
    <form name="form" id="form" novalidate role="form" class="web-form"  ng-class="{'show-errors': showErrors}">
        <h2>Register as ACP</h2>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email"
                   ng-model="user.email" required
                   placeholder="Please enter your email">
            <span class="validation-error" ng-show="form.email.$error.required && showErrors">
                Email is required.
            </span>
            <span class="validation-error" ng-show="form.email.$error.email && showErrors">
                Email is not valid.
            </span>
        </div>

        <div class="panel panel-default terms">
            <div class="panel-body" ng-include="'modules/terms/terms-content.html'">
                Panel content
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input name="termsAccepted" type="checkbox" ng-model="user.termsAccepted" required> Accept terms &
                conditions
            </label>
            <span class="validation-error" ng-show="form.termsAccepted.$error.required && showErrors">
                Please accept the terms and conditions.
            </span>
        </div>
        <button class="btn btn-primary" ng-click="register()">Register</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </form>
</div>
