<a href="#top"></a>
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row" style="position: relative">
            <div class="col-xs-12 section">
                <div class="btn-group btn-breadcrumb">
                    <a ng-href="#!{{searchPath}}" class="btn btn-primary">ACP Directory Home</a>
                    <a href="" class="btn btn-primary">Result</a>
                </div>
            </div>
            <div class="action-bar">
                <div class="btn-group">
                    <a class="btn btn-primary" ng-href="{{resultEmailLink}}">Email</a>
                    <a class="btn btn-primary" ng-href="/service/report/pdf{{searchPath}}/acp-result" download>PDF</a>
                    <a class="btn btn-primary" ng-href="/service/report/csv{{searchPath}}/acp-result" download>CSV</a>
                </div>
            </div>
            <div class="col-xs-12 section">
                <div stats ng-model="criteria"></div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-init="$root.pageTitle = 'Search Result - ' + mainTitle">
    <div class="row">
        <div class="col-xs-12 section">
            <div class="row well well-sm result-item clickable" ng-repeat="p in acps"
                 ng-click="showDetails(p)"
                 style="width: 100%; position: relative;">
                <div class="col-xs-11">
                    {{p.companyName}}
                </div>
                <div class="col-sm-5 hidden-xs">
                    <a href="{{p.website}}" target="_blank" ng-click="$event.stopPropagation();">
                        <i class="fa fa-external-link"></i> {{p.website}}
                    </a>
                </div>
                <div class="col-sm-3 hidden-xs">
                    <i class="fa fa-phone"></i> <a class="phone-link" href="tel://{{p.phone}}">{{p.phone}}</a>
                </div>
                <div class="col-sm-4 hidden-xs">
                    <a href="mailto:{{p.salesEmail}}" target="_self" title="{{p.salesEmail}}"
                       ng-click="$event.stopPropagation();">
                        <i class="fa fa-envelope-o"></i> {{p.salesEmail}}
                    </a>
                </div>
                <div style="position: absolute; font-size: 1.6em; right: 10px; top: 4px;">
                    <a ng-href="#!{{createDetailUrl(p)}}">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>