<!doctype html>
<html class="no-js" ng-app="acpregistryApp">
<head>
    <meta charset="utf-8">
    <title ng-bind="pageTitle">ACP Directory</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/theme.css">
    <!-- endbuild -->

</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<div class="navbar navbar-default navbar-fixed-top navbar-custom" role="navigation">
    <div class="container">
        <div class="main-title">
            <span>Accredited Certificate <br> Provider Directory</span>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/" target="_self">
                <span class="logo"></span>
                <span class="logo-text hidden-xs"></span>
            </a>
        </div>
        <div class="collapse navbar-collapse" ng-controller="MenuCtrl">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="#!{{getMyACPUrl()}}" ng-show="isACP()">
                    My ACP
                </a></li>
                <li><a ng-href="#!/admin/upload" ng-show="isAdmin()">
                    Upload
                </a></li>
                <li><a ng-href="#!/login" ng-show="!user">
                    <i class="fa fa-lock"></i> ACP Login
                </a></li>
                <li><a ng-click="logout()" ng-show="user">
                    Logout
                </a></li>
                <li><a ng-href="#!/help">
                    <i class="fa fa-question"></i> Help
                </a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div ng-view="" ng-class="slide" autoscroll="true"></div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                © Copyright 2014 Office of Environment and Heritage | Accredited Certificate Provider Directory
            </div>
            <div class="col-sm-4">
                Contact OEH | Subscribe | Terms & Conditions
            </div>
        </div>
    </div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-53478356-1', 'auto');
    //ga('create', 'UA-53603759-1', 'auto');

</script>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/angular-validation/dist/angular-validation.js"></script>
<script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/constants.js"></script>
<script src="scripts/access.js"></script>
<script src="scripts/nullController.js"></script>

<script src="scripts/services/searchParamUtils.js"></script>
<script src="scripts/services/acpData.js"></script>
<script src="scripts/services/session.js"></script>
<script src="scripts/services/ga.js"></script>
<script src="scripts/services/authService.js"></script>
<script src="scripts/services/staticData.js"></script>
<script src="scripts/services/transformToFormPost.js"></script>

<script src="scripts/directives/wordcount.js"></script>
<script src="scripts/directives/squareButton.js"></script>
<script src="scripts/directives/sticky.js"></script>
<script src="scripts/directives/toggle.js"></script>
<script src="scripts/directives/searchStats/searchStats.js"></script>
<script src="scripts/directives/optionBar/optionBar.js"></script>

<script src="components/detail/edit/access.js"></script>

<script src="components/menu/menu.js"></script>
<script src="components/search/search.js"></script>
<script src="components/result/result.js"></script>
<script src="components/detail/detail.js"></script>
<script src="components/detail/edit/edit.js"></script>
<script src="components/terms/terms.js"></script>
<script src="components/user/register.js"></script>
<script src="components/user/login.js"></script>
<script src="components/user/password.js"></script>

<script src="components/admin/upload/upload.js"></script>
<script src="components/admin/upload/uploadResult.js"></script>
<!-- endbuild -->
</body>
</html>
