<a href="#top"></a>
<div class="container" ng-init="$root.pageTitle='Terms and conditions - ' + mainTitle">
    <div ng-include="'modules/terms/terms-content.html'"></div>
    <button class="btn btn-primary" ng-click="markTermsAsAccepted()">Agree</button>
</div>
