<a href="#top"></a>
<div class="breadcrumb-bar no-stats">
    <div class="container">
        <div class="row" style="position: relative">
            <div class="col-xs-12 section">
                <div class="btn-group btn-breadcrumb">
                    <a href="#!{{searchPath}}" class="btn btn-primary">ACP Directory Home</a>
                </div>
            </div>
            <div class="action-bar">
                <a class="btn btn-primary" ng-click="back()">Back</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2>ACP Help</h2>

    <p>The Accredited Certificate Provider (ACP) Registry tool is a platform that provides a searchable and detailed list of Accredited Certificate Providers as businesses and energy efficiency service providers.<br />
        The websites offers the ability to find the ACPs that service their energy efficiency by technology project type, industry or region.&nbsp;<br />
        An ACP can be selected and contacted via email, contact phone number/s or website via this tool.</p>

    <h3>Search the Directory</h3>

    <p>The ACP tool provides users with four key search fields in order to filter a list of ACPs. As filters are applied, the summary panel at the top of the screen will automatically update based on the search criteria provided.<br />
        The available search options include:</p>

    <ul>
        <li>Postcode &ndash; <span class="text-muted">limited to all NSW.</span></li>
        <li>Sectors &ndash; <span class="text-muted">Residential, Small Business, Commercial, Industrial.</span></li>
        <li>Project Technology Types &ndash; <span class="text-muted">Such as Lighting, Air Heating and Cooling, Refrigeration and Freezing etc.</span></li>
        <li>Find by Company &ndash; <span class="text-muted">limited to accredited companies listed in NSW.</span></li>
    </ul>

    <p>By default, each of these filters are set to &ldquo;All&rdquo;.&nbsp;<br />
        One or more search options can be selected to filter the list of ACPs displayed.</p>

    <h4>Postcode</h4>

    <p>To narrow the ACP search result and filter by location, enter a 4 digit value into the postcode field. Once a postcode is entered, the &ldquo;All NSW&rdquo; button will be deselected.</p>

    <h4>Sectors</h4>

    <p>To narrow the ACP search result and filter based on Sector, select one or more of the Sectors provided. The Sectors that have been selected will be highlighted in blue and the &ldquo;All Sectors&rdquo; button will be deselected.</p>

    <h4>Project Technology Types</h4>

    <p>To narrow the ACP search result and filter on Project Technology Types, select one or more of the Types provided. The Types selected will be highlighted in blue and the &ldquo;All Types&rdquo; button will be deselected.</p>

    <h4>Find by Company</h4>

    <p>To search ACPs by Company name, enter the company into the &ldquo;Find by Company&rdquo; field. The application will provide a match based on the text entered into this field.</p>

    <h4>Calculation Methods (Advanced Search)&nbsp;</h4>

    <p>This type of search provides users who are familiar with the ACP calculation methods the ability to filter ACP&rsquo;s based on the clauses defined for Metered Baseline and Deemed Energy Saving methods.<br />
        Select the checkboxes provided to indicate which methods should be included with the search criteria.</p>

    <h3>Clear button</h3>

    <p>To reset the search page and clear each of the selected filters, tap the &ldquo;Clear&rdquo; button.</p>

    <h3>Search button</h3>

    <p>Once the appropriate filter criteria have been selected, tap the &ldquo;Search&rdquo; button.<br />
        The application will apply the search against the ACPs and move the user to the &ldquo;Results&rdquo; list.</p>

    <h3>Result</h3>

    <p>Based on the search criteria provided, the website will display a list of matching ACPs .&nbsp;<br />
        The summary panel will remain at the top of the screen to provide an overview of the search filter applied.<br />
        Sorted alphabetically, the information within this list provides a summary for the contact details of the ACPs listed. To view the complete details of an ACP, tap the arrow button that appears to the right of the list item.<br />
        If you are accessing this page view a smart phone, the contact phones can be selected.<br />
        Users may select the email address within the results list to contact the ACP. This will automatically open the default email client. Alternatively, the user may select the ACP&rsquo;s website to be redirected to this site.</p>

    <h3>Export options</h3>

    <p>The ACP tool provides option to export the current ACP list as the following:</p>

    <table class="table table-striped">
        <tbody>
        <tr>
            <td>Email</td>
            <td class="text-muted">Selecting the Email button will automatically open the default email client and include the current URL containing the selected filter option as part of the emails content</td>
        </tr>
        <tr>
            <td>PDF</td>
            <td class="text-muted">Selecting the PDF button will provide a PDF file containing ACP content that relates to the search filter provided</td>
        </tr>
        <tr>
            <td>CSV</td>
            <td class="text-muted">Selecting the CSV button will provide a CSV file containing ACP content that relates to the search filter provided</td>
        </tr>
        </tbody>
    </table>

    <h3>Details</h3>

    <p>This screen provides all the details that relate to a selected ACP.<br />
        The type of information includes:</p>

    <ul>
        <li>Company name</li>
        <li>Phone number</li>
        <li>Mobile number</li>
        <li>Sales Email address</li>
        <li>Website</li>
        <li>Address</li>
        <li>Products</li>
        <li>Company description</li>
        <li>Technologies serviced</li>
        <li>Total # of Energy Savings Certificate generated.</li>
    </ul>

    <p>If you are accessing this page view a smart phone, the contact phones can be selected.<br />
        Otherwise a user may select the email address which will automatically open the default email client or select the ACP&rsquo;s website to be redirected to this site.</p>

</div>
