
.stats-large > :first-child {
    font-size: 34px;
    padding-left: 6px;
}

.stats-large > :last-child {
    font-size: 14px;
    padding-left: 6px;
    color: gray;
}


.panel-stats .panel-body {
    padding: 4px;
}

.panel-stats > .panel-body > table,
.stats-details {
    width: 100%;
}

.stats-details {
    border-left: solid 1px;
}

.stats-details tr:first-child {
    border-bottom: solid 1px white;
}

.stats-details .stats-label {
    border-right: solid 1px white;
}

.stats-details .stats-label:last-child {
    border-right: none;
}

.stats-info {
    padding-left: 10px;
    font-size: 24px;
    text-align: right;
}

.stats-cn {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 13em;
}

.stats-label {
    padding-left: 12px;
    font-size: 14px;
    color: gray;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /*@media only screen and (min-width: 40.063em) and (max-width: 64em) {*/
    .panel-stats {
        margin-left: -18px;
        margin-right: -18px;
    }
}

@media screen and (max-width: 767px) {
    /*@media only screen and (max-width: 40em) {*/
    .stats > :last-child {
        margin-left: 4px;
    }

    .stats-large > :first-child {
        font-size: 24px;
    }

    .stats-large > :last-child {
        font-size: 12px;
    }
}

