<div class="panel panel-default panel-stats highlighted-category">
    <div class="panel-body">
        <table>
            <tr>
                <td>
                    <table>
                        <tr class="stats-large">
                            <td>{{criteria.filteredCount}}</td>
                            <td>ACP Found</td>
                        </tr>
                    </table>
                </td>
                <td class="hidden-xs">
                    <table class="stats-details">
                        <tr>
                            <td class="stats-info">{{getCriteriaText('postcode')}}</td>
                            <td class="stats-label">Postcode<span ng-show="getCriteriaText('postcode') == 'All'">s</span></td>
                            <td class="stats-info">{{getCriteriaText('techs')}}</td>
                            <td class="stats-label">Technology Types</td>
                            <td class="stats-info">{{getCriteriaText('calcMethods')}}</td>
                            <td class="stats-label">Calculation Methods</td>
                        </tr>
                        <tr>
                            <td class="stats-info">{{getCriteriaText('sectors')}}</td>
                            <td class="stats-label">Sectors</td>
                            <td class="stats-info stats-cn" colspan="3">
                                {{getCriteriaText('companyName')}}
                            </td>
                            <td class="stats-label" ng-switch="getCriteriaText('companyName')">
                                Compan<span ng-switch-when="All">ies</span><span ng-switch-default>y</span>
                            </td>
                        </tr>
                        <tr></tr>
                    </table>
                </td>
            </tr>
        </table>

<!--
        <div class="row">
            <div class="col-xs-12 col-sm-3 tabular stats stats-large">
                <div>16</div>
                <div>APC Selected</div>
            </div>
            <div class="col-sm-9 hidden-xs">
            </div>
        </div>
-->
    </div>
</div>



