<a href="#top"></a>
<div class="breadcrumb-bar no-stats">
    <div class="container">
        <div class="row" style="position: relative">
            <div class="col-xs-12 section">
                <div class="btn-group btn-breadcrumb">
                    <a href="#!{{searchPath}}" class="btn btn-primary">ACP Directory Home</a>
                    <a href="" class="btn btn-primary">Upload</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-init="$root.pageTitle='Upload'">
    <div class="row">
        <div class="col-md-12 section">
            <form name="form" novalidate role="form" class="form-horizontal" ng-class="{'show-errors': showErrors}">
                <h2>Upload</h2>

                <div class="form-group">
                    <label for="uploadFile" class="col-sm-2 control-label">Select CSV File</label>
                    <div class="col-sm-10">
                        <input type="file" id="uploadFile" nv-file-select uploader="uploader">
                    </div>
                </div>

                <div ng-show="uploader.isHTML5 && uploader.isUploading" class="progress">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" ng-click="upload()"
                                ng-disabled="!uploader.getNotUploadedItems().length">
                            Upload
                        </button>
                        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

