<div class="breadcrumb-bar no-stats">
    <div class="container">
        <div class="row" style="position: relative">
            <div class="col-xs-12 section">
                <div class="btn-group btn-breadcrumb">
                    <a href="#!{{searchPath}}" class="btn btn-primary">ACP Directory Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-init="$root.pageTitle='Upload Result'">
    <div class="row">
        <div class="col-md-12 section">
            <h2>Upload result</h2>
            <div>CSV has been uploaded and processed successfully</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Total Uploaded</th>
                        <th>New</th>
                        <th>Updated</th>
                        <th>Active</th>
                        <th>Suspended</th>
                        <th>Canceled</th>
                        <th>Missing</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ur in uploadResult.history">
                        <td>{{ur.date | date:'yyyy-MM-dd'}}</td>
                        <td>{{ur.uploadedCount}}</td>
                        <td>
                            <div ng-repeat="cn in ur.newRows">
                                <a href="createDetailUrl(cn)">{{cn}}</a>
                            </div>
                        </td>
                        <td>{{ur.updatedCount}}</td>
                        <td>{{ur.activeCount}}</td>
                        <td>{{ur.suspendedCount}}</td>
                        <td>{{ur.cancelledCount}}</td>
                        <td>
                            <div ng-repeat="cn in ur.missingRows">
                                <a href="createDetailUrl(cn)">{{cn}}</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

