<div class="cm clickable" ng-class="{selected: option}" ng-click="option = !option">
    <input type="checkbox" ng-model="option" ng-click="$event.stopPropagation();">
    <span ng-transclude></span>
</div>