<a href="#top"></a>
<div class="breadcrumb-bar" ng-init="$root.pageTitle = 'Search - ' + mainTitle">
    <div class="container">
        <div class="row" style="position: relative">
            <div class="col-xs-12 section">
                <div class="btn-group btn-breadcrumb">
                    <a href="" class="btn btn-primary">ACP Directory Home</a>
                </div>
            </div>
            <div class="action-bar">
                <a class="btn btn-primary" ng-click="showResult()">View ACP</a>
                <button class="btn btn-primary" ng-click="clear(criteria)">Clear</button>
            </div>
            <div class="col-xs-12 section">
                <div stats ng-model="criteria"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
<form class="form-horizontal" role="form">
<div class="row">
<div class="col-xs-12 section section-wb">
    <div class="tabular spaced">
        <div class="section-label">Postcode</div>
        <div>
            <input type="number" class="form-control input-postcode" id="postcode"
                   style="width: 110px;" ng-model="criteria.postcode" min="1000" max="9999">
        </div>
        <div>
            <button class="btn btn-all" ng-click="criteria.postcode = ''"
                    ng-class="(criteria.postcode) ? '' : 'active'">
                <i class="fa fa-circle-o"></i><i class="fa fa-check-circle-o"></i> All NSW
            </button>
        </div>
    </div>
</div>
<div class="col-xs-12 section section-wb">
    <div class="tabular spaced">
        <div class="section-label">Sectors</div>
        <div>
            <button class="btn btn-all" ng-click="criteria.sectors = {}"
                    ng-class="(isAnyValueSelected(criteria.sectors)) ? '' : 'active'">
                <i class="fa fa-circle-o"></i><i class="fa fa-check-circle-o"></i> All Sectors
            </button>
        </div>
    </div>
    <div class="section-body">
        <div square-button toggle icon="fa-residential" ng-model="criteria.sectors.residential" class="square-blue">
            Residential
        </div>
        <div square-button toggle icon="fa-small-business" ng-model="criteria.sectors.smallbiz" class="square-blue">
            Small Business
        </div>
        <div square-button toggle icon="fa-commercial" ng-model="criteria.sectors.commercial" class="square-blue">
            Commercial
        </div>
        <div square-button toggle icon="fa-industrial" ng-model="criteria.sectors.industrial" class="square-blue">
            Industrial
        </div>
    </div>
</div>
<div class="col-xs-12 section">
    <div class="tabular spaced">
        <div class="section-label">Project Technology Types</div>
        <div>
            <button class="btn btn-all" ng-click="criteria.techs = {}"
                    ng-class="(isAnyValueSelected(criteria.techs)) ? '' : 'active'">
                <i class="fa fa-circle-o"></i><i class="fa fa-check-circle-o"></i> All Types
            </button>
        </div>
    </div>
    <div class="section-body">
        <div square-button toggle icon="fa-lighting" ng-model="criteria.techs.lighting" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Lighting
        </div>
        <div square-button toggle icon="fa-heating-cooling" ng-model="criteria.techs.aircon" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Air heating and cooling
        </div>
        <div square-button toggle icon="fa-freezing" ng-model="criteria.techs.refrigeration" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Refrigeration and freezing
        </div>
        <div square-button toggle icon="fa-water-heating" ng-model="criteria.techs.waterheating" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Water heating
        </div>
        <div square-button toggle icon="fa-transport" ng-model="criteria.techs.transport" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Transport
        </div>
        <div square-button toggle icon="fa-entertainment" ng-model="criteria.techs.entertainment" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Home entertainment
        </div>
        <div square-button toggle icon="fa-office" ng-model="criteria.techs.office" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Computers, office, equipment
        </div>
        <div square-button toggle icon="fa-process-heat" ng-model="criteria.techs.processheat" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Process heat
        </div>
        <div square-button toggle icon="fa-air-compression" ng-model="criteria.techs.aircompression" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Air compression
        </div>
        <div square-button toggle icon="fa-ventilation" ng-model="criteria.techs.ventilation" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Air handling, fans ventilation
        </div>
        <div square-button toggle icon="fa-conveying" ng-model="criteria.techs.conveying" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Materials handling conveying
        </div>
        <div square-button toggle icon="fa-mixing" ng-model="criteria.techs.mixing" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Milling mixing grinding
        </div>
        <div square-button toggle icon="fa-communications" ng-model="criteria.techs.comm" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Communications
        </div>
        <div square-button toggle icon="fa-cleaning" ng-model="criteria.techs.cleaning" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Cleaning Washing
        </div>
        <div square-button toggle icon="fa-process-drives" ng-model="criteria.techs.processdrive" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Process drives
        </div>
        <div square-button toggle icon="fa-electricity" ng-model="criteria.techs.electricity" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Electricity supply
        </div>
        <div square-button toggle icon="fa-other" ng-model="criteria.techs.other" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Other machine
        </div>
        <div square-button toggle icon="fa-escalators" ng-model="criteria.techs.escalators" class="square-blue"
             ng-click="updateAllState('techs', false)">
            People movement lifts, escalators
        </div>
        <div square-button toggle icon="fa-cooking" ng-model="criteria.techs.cooking" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Cooking
        </div>
        <div square-button toggle icon="fa-pumping" ng-model="criteria.techs.pumping" class="square-blue"
             ng-click="updateAllState('techs', false)">
            Water / Liquid pumping
        </div>
    </div>
</div>
<div class="col-xs-12 section">
    <div class="section-label">Find by Company</div>
    <div class="section-body">
        <input class="form-control" type="text" placeholder="Please enter company name"
               ng-model="criteria.companyName"
               typeahead="p.companyName for p in providers | filter:$viewValue | limitTo:8">
    </div>
</div>
<div class="col-xs-12 section">
    <div class="panel panel-default panel-collapse">
        <div class="panel-heading tabular highlighted-category"
             ng-click="isByCalculationCollapsed = !isByCalculationCollapsed">
            <div>
                        <span class="glyphicon"
                              ng-class="{'glyphicon-chevron-down': !isByCalculationCollapsed, 'glyphicon-chevron-right': isByCalculationCollapsed}"></span>
            </div>
            <div class="section-label">Calculation Methods</div>
        </div>
        <div class="list-group" collapse="isByCalculationCollapsed">
            <div option-bar class="list-group-item" ng-model="criteria.calcMethods.pia">
                Project Impact Assessment Method
            </div>
            <div option-bar class="list-group-item" ng-model="criteria.calcMethods.piamv">
                Project Impact Assessment with Measurement and Verification Method
            </div>
            <div class="list-group-item highlighted-category">
                Metered Baseline Method using of the following sub-methods:
            </div>
            <div option-bar class="list-group-item" ng-model="criteria.calcMethods.c85">
                Baseline per unit of output (clause 8.5)
            </div>
            <div option-bar class="list-group-item" ng-model="criteria.calcMethods.c86">
                Baseline unaffected by output (clause 8.6)
            </div>
            <div option-bar class="list-group-item" ng-model="criteria.calcMethods.c87">
                Normalized baselines (clause 8.7)
            </div>
            <div option-bar class="list-group-item" ng-model="criteria.calcMethods.c88">
                NABERS baseline (clause 8.8)
            </div>
            <div option-bar class="list-group-item" ng-model="criteria.calcMethods.c89">
                Aggregated Metered Baseline (clause 8.9)
            </div>
            <div class="list-group-item highlighted-category">
                Deemed Energy Savings Method using of the following sub-method:
            </div>
            <div option-bar class="list-group-item" ng-model="criteria.calcMethods.c93">
                Sales of New Appliances (clause 9.3)
            </div>
            <div option-bar class="list-group-item" ng-model="criteria.calcMethods.c94">
                Commercial Lighting Energy Savings Formula (clause 9.4)
            </div>
            <div option-bar class="list-group-item" ng-model="criteria.calcMethods.c95">
                High Efficiency Motor Energy Savings Formula (clause 9.5)
            </div>
            <div option-bar class="list-group-item" ng-model="criteria.calcMethods.c96">
                Power Factor Correction Energy Savings Formula (clause 9.6)
            </div>
            <div option-bar class="list-group-item" ng-model="criteria.calcMethods.c97">
                Removal of Old Appliances (clause 9.7)
            </div>
            <div option-bar class="list-group-item" ng-model="criteria.calcMethods.c98">
                Home Energy Efficiency Retrofits (clause 9.8)
            </div>
            <div option-bar class="list-group-item" ng-model="criteria.calcMethods.c99">
                Installation of High Efficiency Appliances for Businesses (clause 9.9)
            </div>
            <div option-bar class="list-group-item" ng-model="criteria.calcMethods.c910">
                '1 for 1' Residential Downlight Replacement (clause 9.10)
            </div>
        </div>

    </div>
</div>
</div>
</form>
</div>
