<a href="#top"></a>
<div class="breadcrumb-bar no-stats">
    <div class="container">
        <div class="row" style="position: relative">
            <div class="col-xs-12 section">
                <div class="btn-group btn-breadcrumb">
                    <a href="#!{{searchPath}}" class="btn btn-primary">ACP Directory Home</a>
                    <a href="#!/result{{searchPath}}" class="btn btn-primary">Result</a>
                    <a href="" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-init="$root.pageTitle = 'Company Details - ' + mainTitle">
    <div class="row">
        <form class="form-horizontal" role="form">
            <div class="col-xs-12 section">
                <table class="table table-striped">
                    <tr>
                        <td>
                            <div class="section-label">Company Name</div>
                            <div class="">{{company.companyName}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="section-label">Phone Number</div>
                            <div class="">
                                <i class="fa fa-phone"></i>
                                <a class="phone-link" href="tel://{{company.phone}}">
                                    {{company.phone}}
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="section-label">Mobile Number</div>
                            <div class="">
                                <i class="fa fa-mobile"></i>
                                <a class="phone-link" href="tel://{{company.mobilePhone}}">{{company.mobilePhone}}</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="section-label">Sales Email Address</div>
                            <div class="">
                                <i class="fa fa-envelope-o"></i> <a href="{{company.salesEmail}}">{{company.salesEmail}}</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="section-label">Website</div>
                            <div class="">
                                <i class="fa fa-external-link"></i>
                                <a href="{{company.website}}" target="_blank">{{company.website}}</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="section-label">Address</div>
                            <div class="">
                                <i class="fa fa-building-o"></i> {{company.address}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="section-label">Company Description</div>
                            <div class="">
                                {{company.companyDescription}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="section-label">Products</div>
                            <div class="">{{company.products}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-row">
                                <table class="table">
                                    <tr>
                                        <th>
                                            <class class="section-label">
                                                Technologies serviced
                                            </class>
                                        </th>
                                        <th class="section-label">
                                            Total # of Energy Savings Certificate generated
                                        </th>
                                    </tr>
                                    <tr ng-repeat="c in certificatesSummary">
                                        <td>{{getTech(c.groupBy)}}</td>
                                        <td>{{c.total | number}}</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>