<div class='square-box'>
    <div class='square-content clickable'>
        <div>
            <div>
                <i class="fa {{icon}}"></i>
            </div>
            <div>
                <span ng-transclude></span>
            </div>
        </div>
    </div>
</div>
