.square-box {
    float: left;
    position: relative;
    width: 11.111111111%;
    overflow: hidden;
}

.square-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.square-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #696969;
    background: #eeeeee;
    padding: 15px 5px 15px;
    margin: 3px;
    cursor: pointer;
}

.square-content > div {
    width: 100%;
    height: 100%;
    position: relative;
}

.square-content > div > div {
    position: absolute;
    text-align: center;
    line-height: 0.95;
}

.square-content > div > div:first-child {
    top: 0;
    left: 0;
    right: 0;
    font-size: 2.3em;
}

.square-content > div > div:last-child {
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.85em;
}

.square-blue.selected > .square-content {
    background: #002664 !important;
    color: white;
}

.square-green.selected > .square-content {
    background: #53bd42 !important;
    color: white;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    /*@media only screen and (min-width: 40.063em) and (max-width: 64em) {*/
    .panel-stats {
        margin-left: -18px;
        margin-right: -18px;
    }

    .square-content {
        padding: 5px 2px 5px;
    }

    .square-content > div > div:first-child {
        font-size: 1.8em;
    }

    .square-content > div > div:last-child {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 851px) and (max-width: 991px) {
    .square-content {
        padding: 8px 2px 8px;
    }

    .square-content > div > div:first-child {
        font-size: 1.8em;
    }

    .square-content > div > div:last-child {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 767px) {
    /*@media only screen and (max-width: 40em) {*/
    .square-box {
        width: 50%;
    }

    .square-box:before {
        padding-top: 50%;
    }

    .square-content {
        padding: 5px;
    }

    .square-content > div > div {
        /*display: table-cell;*/
        /*vertical-align: middle;*/
    }

    .square-content > div > div:first-child {
        top: 0;
        left: 10px;
        right: inherit;
        bottom: 0;
        font-size: 2em;
    }

    .square-content > div > div:last-child {
        top: 0;
        right: 5px;
        left: inherit;
        bottom: 0;
        font-size: 0.9em;
    }

    .square-content > div > div > * {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .square-content > div > div:last-child > *{
        right: 0;
    }
}

@media screen and (min-width: 580px) and (max-width: 767px) {
    .square-box {
        width: 33.3333%;
    }
}